<div class="well">
    <h2>Boutique</h2>
    <h5>Augmentez votre production de poney</h3>
    {{#each item in model}}
        <div>
        	<span></span>
        	<div>
        		{{item.nom}}<br />
        		{{item.prix}}
        	</div>
        </div>
    {{/each}}
</div>