<div class="well">
    <h2>Améliorez votre Poney</h2>
</div>

{{#each item in model}}
    <div class="well" >
        {{item.nom}}<br />
        Prix : {{item.prix}}<br />
        Level minimum : {{item.level}}
        <button {{action "buyAmelioration" item}} class="btn btn-primary pull-right" >Buy</button>
    </div>
{{/each}}