<div>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                {{#linkTo 'index' class="brand" }}
                    Poney Maker
                {{/linkTo}}
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li>
                            {{#linkTo 'index' }}Production{{/linkTo}}
                        </li>
                        <li>
                            {{#linkTo 'amelioration' }}Amélioration{{/linkTo}}
                        </li>
                        <li>
                            {{#linkTo 'achat' }}Achats{{/linkTo}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="main">
        <div class="row-fluid">
            <div>
                <div class="span3">
                    <div class="well sidebar-nav">
                        <form>
                            <span class="nav-header text-center">{{model.nom}}</span>
                            <h2 class="text-center">{{model.nb}}</h2>
                            <p>level : {{model.level}}</p>

                            <img class="img-polaroid" {{bindAttr src="model.image"}} {{action "poneyClick" model}} />
                        </nb>
                        
                    </div>
                </div>
                <div class="span9">
                    {{outlet}}
                </div>
            </div>
        </div>
    </div>
</div>
